# MySQL
MYSQL_ROOT_PASSWORD=hongyuan2024
MYSQL_DATABASE=ry_cms
MYSQL_PORT=3306

# Redis
REDIS_PASSWORD=redis_pass_2024
REDIS_PORT=6379

# Nuxt3 前台
NUXT_PUBLIC_API_BASE=http://localhost:8080

# Nginx
NGINX_PORT=80


# 百度统计 ID（替换为实际值）
NUXT_PUBLIC_BAIDU_TONGJI_ID=YOUR_BAIDU_TONGJI_ID
